#About {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    margin-top: 158px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 127.9%;
    letter-spacing: 10.661px;
    border: 8px solid #000;
    background: rgba(255, 255, 255, 0.00);
    width: 404px;
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-description {
    margin-top: 88px;
    width: 763px;
    height: 47px;
    color: #050505;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 138.682%; /* 20.802px */
}

#About .read-more {
    margin-top: 74px;
    border-color: #000 !important;
}