#About {
    width: 100%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;           /* Start invisible */
    transform: translateY(50px); /* Move slightly down */
    transition: opacity 0.8s ease, transform 0.8s ease; /* Smooth transitions */
}

.about {
    border: 8px solid #000;
    margin-top: 158px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 127.9%;
    letter-spacing: 10.661px;
    background: rgba(255, 255, 255, 0.00);
    width: 404px;
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#About.aos-animate {
    opacity: 1;           /* Become fully visible */
    transform: translateY(0); /* Move to original position */
}

.resume {
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.about-description {
    text-align: justify;
    min-height: fit-content;
    margin-top: 70px; /* was 88px */
    width: 763px;
    height: fit-content;
    color: #050505;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 138.682%; /* 20.802px */
}

#About .read-more {
    margin-top: 74px;
}

.separator {
    margin-top: 85px;
    width: 170px;
    height: 12px;
    background: url(/separatorBlack.png) 50% / cover no-repeat;
}

.knowledges {
    display: flex;
    gap: 20px;
    margin-top: 108px;
    width: 1066px;
    height: 373px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.first-two {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.knowledge {
    height: 178px;
    transition: transform 2s ease-out; 
}

.knowledges p {
    width: 431px;
    height: 104px;
    font-size: 14px;
    text-align: justify;
}

.knowledges .h1 {
    position: relative;
    display: flex;
    width: fit-content;
    height: 74px;
    flex-direction: column;
    justify-content: center;
    color: #000;
}

.read-more.resume:hover {
    border-left-color: green !important;
    border-right-color: green !important;
    cursor: pointer;
    opacity: 0.9;
    background-color: #cfcfcf;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
}

.knowledges h1 {
    /* width: fit-content; */
    text-align: start;
    z-index: 1;
    font-weight: 700;
    font-family: "Montserrat";
    font-size: 22px;
    letter-spacing: 4.078px;
}

.design {
    background: url(/design.png) 50% / cover;
}

.development {
    background: url(/development.png) 50% / cover;
}

.maintenance {
    background: url(/maintenance.png) 50% / cover;
    left: -62px !important;
    width: 80.213px !important;
}


.sign {
    position: absolute;
    left: -35px;
    width: 61px;
    height: 64px;
}