#About {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    border: 8px solid #000;
    margin-top: 158px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 127.9%;
    letter-spacing: 10.661px;
    background: rgba(255, 255, 255, 0.00);
    width: 404px;
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-description {
    margin-top: 88px;
    width: 763px;
    height: 47px;
    color: #050505;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 138.682%; /* 20.802px */
}

#About .read-more {
    margin-top: 74px;
}

.separator {
    margin-top: 85px;
    width: 170px;
    height: 12px;
    background: url(../public/separatorBlack.png) lightgray 50% / cover no-repeat;
}

.knowledges {
    display: flex;
    flex-direction: column;
    margin-top: 108px;
    width: 1066px;
    height: 373px;
    align-items: center;
    justify-content: space-between;
}

.first-two {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.knowledge {
    height: 178px;
}

.knowledges p {
    width: 431px;
    height: 104px;
    font-size: 14px;
    text-align: justify;
}

.knowledges .h1 {
    position: relative;
    display: flex;
    width: 277px;
    height: 74px;
    flex-direction: column;
    justify-content: center;
    color: #000;
}

.knowledges h1 {
    text-align: start;
    z-index: 1;
    font-weight: 700;
    font-family: "Montserrat";
    font-size: 22px;
    letter-spacing: 4.078px;
}

.design {
    background: url(../public/design.png) 50% / cover;
}

.development {
    background: url(../public/development.png) 50% / cover;
}

.maintenance {
    background: url(../public/maintenance.png) 50% / cover;
    left: -62px !important;
    width: 80.213px !important;
}


.sign {
    position: absolute;
    left: -35px;
    width: 61px;
    height: 64px;
}