.App {
  text-align: center;
  background-color: #D7D7D7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.per-infos {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 54px;
  justify-content: center;
  align-items: flex-start;
  margin-left: 160px;
  font-family: "Raleway";

}

.social {
  display: flex;
  width: 61px;
  height: 56px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.socials {
  display: flex;
  width: 230px;
  justify-content: space-between;
}

.my-name {
  width: 700px;
  font-size: 80px;
  text-align: start;
}

.hi {
  font-size: 40px;
}

.title {
  color: #909090;
  font-size: 25px;
  font-weight: 800;
}

#linked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #C4C4C4;
  width: 38.4px;
  height: 38.4px;
  border-radius: 50%;
}

#me {
  position: absolute;
  bottom: 40%;
  left: 97px;
  transform: rotate(-9.67deg);
  width: 500px;
  height: 539px;
}

.description-container {
  overflow: hidden;
  color: #FFF;
  font-family: "Montserrat";
  width: 1920px;
  height: 313px;
  background: linear-gradient(90deg, #1D1D1D 31.74%, #1D1D1D 90.49%, #1D1D1D 90.49%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  height: 100%;
  gap: 33px;
  justify-content: center;
  margin-left: 102px;
}

.berries {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 5.561px;
}

.description {
  width: 1148px;
  height: 89px;
  text-align: justify;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 138.682%;
}

.read-more {
  display: flex;
  width: 139px;
  height: 25px;
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 600;
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
  flex-direction: column;
  justify-content: center;
}

.it-container {
  margin-top: 100px;
  border: 18px solid #000;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  display: flex;
  width: 388.053px;
  height: 368.164px;
  transform: rotate(23.887deg);
  flex-direction: column;
  flex-shrink: 0;
}

.it {
  color: #000;
  font-family: "Varela";
  font-size: 280px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.787px;
}

