/* Style the scrollbar itself */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Style the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Style the handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #333; /* Dark gray */
  border-radius: 10px;
  transition: background 0.3s ease;
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #000; /* Black */
}

#root {
  overflow: hidden;
}

canvas {
  position: absolute !important;
  z-index: 10 !important;
}

body {
  background-color: #0b0b0b;
}

#aboutnskills {
  z-index: 2;
  display: flex;
  width: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0.00) 0%, rgba(1, 1, 1, 0.16) 100%), #FFF;
  flex-direction: column;
  align-items: center;
}

.App {
  margin: auto;
  max-width: 1920px;
  text-align: center;
  background-color: #D7D7D7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.per-infos {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 54px;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5%;
  font-family: "Raleway";
}

.navig {
  /* left: 0; */
  color: white;
  max-width: 1920px;
  width: 100vw;
  height: 66px;
  /* opacity: 0.9; */
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  position: fixed;
  font-size: 17px;
  gap: 8px;
  z-index: 2000;
  justify-content: flex-end;
  padding-right: 65px;
}

.nav {
  display: flex;
  width: 147px;
  height: 46px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;

}

.nav:hover {
  opacity: 0.7;
}

.social {
  display: flex;
  width: 61px;
  height: 56px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  color: black;
}

.social:visited {
  color: black;
}

.social:active {
  color: black;
}

.social:hover {
  position: relative;
  bottom: 5px;
  cursor: pointer;
}

.socials {
  display: flex;
  width: 230px;
  justify-content: space-between;
}

.my-name {
  width: 700px;
  font-size: 80px;
  text-align: start;
}

.hi {
  font-size: 40px;
}

.title {
  color: #909090;
  font-size: 25px;
  font-weight: 800;
}

#linked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #C4C4C4;
  width: 38.4px;
  height: 38.4px;
  border-radius: 50%;
}

#me {
  position: absolute;
  bottom: 30%;
  left: 97px;
  transform: rotate(-9.67deg);
  width: fit-content;
  height: fit-content;
  /* filter: drop-shadow(0px 0px 30px rgb(34, 34, 34)); */
}

.description-container {
  z-index: 2;
  overflow: hidden;
  color: #FFF;
  font-family: "Montserrat";
  width: 100%;
  height: 313px;
  background: linear-gradient(90deg, #1D1D1D 31.74%, #1D1D1D 90.49%, #1D1D1D 90.49%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  height: 100%;
  gap: 33px;
  justify-content: center;
  margin-left: 102px;
}

.berries {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 5.561px;
}

.description {
  overflow: hidden;
  width: 1148px;
  height: 89px;
  text-align: justify;
  font-family: "Open Sans";
  font-size: 21px;
  line-height: 138.682%;
}

.read-more {
  display: flex;
  width: 139px;
  height: 25px;
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 600;
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
  flex-direction: column;
  justify-content: center;
}

.read-more:hover {
  border-left-color: #b37878;
  border-right-color: #b37878;
  cursor: pointer;
  opacity: 0.9;
  background-color: #2d2828;
  box-shadow: 0 0 10px #2d2828;
}

.it-container {
  margin-top: 100px;
  border: 18px solid #000;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  display: flex;
  width: 388.053px;
  height: 368.164px;
  transform: rotate(23.887deg);
  flex-direction: column;
  flex-shrink: 0;
}

.it {
  color: #000;
  font-family: "Varela";
  font-size: 280px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.787px;
}

