#Contact {
    z-index: 2;
    width: 100%;
    height: 1230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0.00) 0%, rgba(0, 0, 0, 0.16) 100%), #FFF;
}

#Contact p {
    margin-top: 59px;
    width: 763px;
    height: 72px;
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.682%;
}

#contact-form {
    margin-top: 123px;
    display: flex;
    height: 602px;
    width: 609px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #8B8B8B;
}

#contact-form input {
    width: 609px;
    height: 43px;
    border: 5px solid #000000;
    border-top: none;
    border-right: none;
    padding-left: 15px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    background-color: #80808000;
}

#contact-form input:focus {
    outline: none;
}



#message {
    height: 179px !important;
    padding-bottom: 130px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

#submit {
    padding: 0 !important;
    display: flex;
    width: 197px !important;
    height: 45px !important;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border-right: 5px solid #000 !important;
    border-bottom: none !important;
}

#submit:hover {
    /* border: 5px solid #000 !important; */
    cursor: pointer;
    opacity: 0.9;
    background-color: #cfcfcf;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    border-left-color: green !important;
    border-right-color:  green !important;
    /* color: white; */
}

.popup {
    display: flex;
    width: 300px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    background-color: rgb(77 141 72 / 91%);
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    transition: opacity 1s ease-in-out;
    animation: 1s ease-in-out 0s 1 normal none running fadeIn;
    z-index: 1000;
    align-items: center;
    justify-content: space-evenly;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.Toastify__toast-theme--light {
    background: #c4e6cb !important;
    /* color: #272727 !important; */
}

.Toastify__toast-theme--light {
    color: #484848;
}

.Toastify__close-button {
    top: 8px !important;
    right: 8px !important;
}
  